<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="light" />

  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}" />

  <!-- Favicon -->
  <link rel="icon" href="/assets/img/favicon-fenix.ico" type="image/x-icon">

  <!-- Global CSS -->
  <link rel="stylesheet" href="/assets/style.css">

  <!-- Global JS -->
  <script defer src="/assets/site.js"></script>
</head>
<body>
  {{ content }}
</body>
</html>
